#small-dialog {
            background: white;
            padding: 20px 30px;
            text-align: left;
            max-width: 400px;
            margin: 40px auto;
            position: relative;
        }

#project { 
            background: url(../images/sf3.jpg) 20% 0 fixed; 
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 100px 0;
        }
        #home { 
            background: url(../images/home.jpg) 50% 0 fixed; 
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 100px 0;
        }
        #experience { 
            background: url(../images/calh1.jpg) 50% 0 fixed; 
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 0px rgba(0,0,0,0.8);
            padding: 100px 0;
        }
        .hsContainer {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        .hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}
    .hsContent h2  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 5px;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }
    .hsContent p {
        width: 400px;
        color: #b2b2b2;
    }
    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
        #about { 
            background: url(../images/about.png) 50% 0 fixed; 
            height: auto;
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 100px 0;
            color: #fff;
        }

        /* Non-essential demo stuff */
        .hero-unit {
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }
        .media-object { width: 64px; height: 64px; padding-bottom: 30px }