#project { 
            background: url(../images/sf3.jpg) no-repeat fixed center; 
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 0px rgba(0,0,0,0.8);
            padding: 100px 0;
}
.small-dialog {
            background: white;
            padding: 20px 30px;
            text-align: left;
            max-width: 800px;
            margin: 40px auto;
            position: relative;
            border-radius:5px;
        }
#home { 
            background: url(../images/cu.jpg) no-repeat fixed center;
            background-size: cover;
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 100px 0;
}
.profile{
  color: #333333;
  padding-top: 50px;
  padding-bottom: 50px;
}
.profile-img{
  max-width: 250px;
  text-align: center;
  margin: 0px 20px 0px;
}

.profile-img > img {
  border-radius: 20%;
  float: center;
}

.profile-info{
  vertical-align: center;
  position: relative;
  font-size: 18px;
  background-color: rgba(90%,90%,90%,0.75);
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
}
.social-icons {
    text-align: center;
}
.btn{margin-right:15px}
.social-icons{padding-top:10px;margin-bottom:35px}
.social-icons .btn.btn-clear{border:2px solid #fff}
.btn-round{border-radius:50%;width:50px;height:50px;display:inline-block;padding:0}
.btn-round i{font-size:20px;top:15px;position:relative}
.btn.btn-clear{
    border:1px solid #fff;
    color:#fff;background:0 0;
    background-color:none;
    font-weight:700;
    -webkit-transition-duration:.8s;
    -moz-transition-duration:.8s;
    -o-transition-duration:.8s;
    transition-duration:.8s;
    -webkit-transition-property:-webkit-transform;
    -moz-transition-property:-moz-transform;
    -o-transition-property:-o-transform;
    transition-property:transform
}
.btn.btn-clear
.selected,
.btn.btn-clear:hover{
    background:#fff;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg)
}
.btn-twitter:hover{color:#2BA9E0}
.btn-facebook:hover{color:#204385}
.btn-dribbble:hover{color:#D92C85}
.btn-instagram:hover{color:#BAB1A8}
.btn-linkedin:hover{color:#015786}
.btn-github:hover{color:#000000}
.btn-pinterest:hover{color:#CA2128}
.btn-google:hover{color:#D3492C}
.left{float:left}
.right{float:right}
.text-center{text-align:center}
.centered{
    margin-left:auto;
    margin-right:auto;
    float:none
}
#education { 
            background: url(../images/about.png) 50% 0 fixed; 
            height: auto;
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 50px 0;
            color: #fff;
}
#experience { 
            /*background: url(../images/calh1.jpg) 50% 0 fixed; */
            height: auto;  
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 0px rgba(0,0,0,0.8);
            padding: 100px 0;
            color: #fff;
}
#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}
    .hsContent h2  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        padding: 10px 5px;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }
    .hsContent p {
        width: 400px;
        color: #b2b2b2;
    }
    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
#contact { 
            background: url(../images/about.png) 50% 0 fixed; 
            height: auto;
            margin: 0 auto; 
            width: 100%; 
            position: relative; 
            box-shadow: 0 0 50px rgba(0,0,0,0.8);
            padding: 100px 0;
            color: #fff;
    }

        /* Non-essential demo stuff */
    .hero-unit {
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
    .media-object { width: 64px; height: 64px; padding-bottom: 30px }